# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/

# Build artifacts
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Data (keep big files out of Git)
data/*.csv
data/*.zip
data/*.xlsx
